= javascript_include_tag 'not_filled.js.coffee'
%script
  window.citymap =
  = @points_json.html_safe
%div(style='float:left; padding-left: 10pt; height: 100%; overflow: scroll; width: 200pt')
  %h1
    Остановки, по которым нет данных
  %h3
    Показаны маркерами
  %ul.marker-buttons
    - @points.each do |point|
      %li
        %button.marker-button(onclick="window.showMarker('#{point[:name]}')" )
          = point[:name]
  %h3
    Не показаны на карте
  %ul.marker-buttons
    - @unfilled_not_on_map.each do |name|
      %li
        = name
#map-canvas